*{

}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr 1fr 1fr;
}
.header{
  grid-column: 1 / 4;
  grid-row: 1/2;
  background: red;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}
.logo-img-name{
  display: flex;
}
.logo-img{
  width: 40px;
}
.logo-name{
  font-size: 30px;
  font-weight: bold;
  color: 222;
}
.header ul{
  display: flex;
}
.header ul li {
  list-style: none;
  margin: 10px;
}
