@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{font-family: 'Poppins', sans-serif;}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr 1fr 1fr;
}
.header{
  grid-column: 1 / 4;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.logo-img-name{
  display: flex;
}
.logo-img{
  width: 35px;
  margin-right: 10px;
}
.logo-name{
  font-size: 30px;
  font-weight: 700;
  color: 222;
}
.header ul{
  display: flex;
}
.header ul li{
  list-style: none;
  margin: 10px;
}
.header ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}
