@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container-123{
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 100vh 100% 100%;
}


/* ========== Color ==========*/
/*
  background: rgb(36, 36, 36);.

*/



/* ========== Container 1 ==========*/
.con1{
  grid-column: 1/2;
  grid-row: 1/2;

  background: rgb(36, 36, 36);
}
